# Server Port
PORT=3000

# SMTP / Mail Info
# Trage hier die Host-Adresse deines Mail-Providers ein (z.B. smtp.strato.de oder smtp.gmail.com)
SMTP_HOST=smtp.example.com
# Port ist oft 465 (für SSL) oder 587 (für TLS)
SMTP_PORT=587
# Setze auf "true", wenn du Port 465 nutzt. Bei 587 meistens "false"
SMTP_SECURE=false

# Deine Mail-Zugangsdaten
SMTP_USER=deine-email@example.com
SMTP_PASS=dein-passwort

# Absenderadresse, die in der E-Mail angezeigt werden soll (falls abweichend von SMTP_USER)
MAIL_FROM=deine-email@example.com
